.holder{    
	height:200px;    
	width:535px;
	opacity: 0.95;
    filter: alpha(opacity=40);
	border:1px solid #A4A4A4;
	margin-left:10px;   
	background-color: red;
}

.screen{
	height:50px;    
	width:550px;
	border-radius: 10px;
  	background: #BADA55;
}

.place {
	position:relative;
	margin:7px;
}

.place a{
	font-size:0.6em;
}

.place li
{
	list-style: none outside none;
	position: absolute;   
}    

.place li:hover
{
	/*background-color:yellow;      */
	/*background:url("images/seat_plan/hover_seat.png") no-repeat scroll 0 0 transparent;*/
	/*border-radius: 50%;
	width: 30px;
	height: 30px; 
	background: black;*/
	opacity: 0.4;
    filter: alpha(opacity=40);
} 

.place .seat{
	border-radius: 50%;
	width: 30px;
	height: 30px; 
	background: #D8D8D8;
	/*background:url("images/seat_plan/empty_seat.png") no-repeat scroll 0 0 transparent;
	height:33px;
	width:33px;*/
	display:block;   
}

.place .selectedSeat
{ 
	border-radius: 50%;
	width: 30px;
	height: 30px; 
	background: #8C081F;    
}