$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

// Global settings
* {
	border-style: none;  
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Custom page header */
.header {
	background-color: #FFF;
	width: 100%; 
	position: fixed;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 50);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 50);
	padding: 5px 0 5px 0;
	margin: 0; 
	z-index: 999;

	/* Make the masthead heading the same height as the navigation */
	h3 {
		color: #8C081F;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0 5px;
		line-height: 40px;
	}

	span {
		display: none; 
	}
}

.spacer {
	width: 100%; 
}

img {
    width: 20vw;
    height: 30vw; 
    margin: 0;
    padding: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}
