$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

// Global settings
* {
	border-style: none;  
}

body {
	font-family: 'Open Sans', sans-serif;
}

span.glyphicon {
    font-size: 2em;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Custom page header */
#header {
	background-color: #000;
	width: 100%; 
	-webkit-box-shadow: 0 1px 2px rgba(250, 250, 250, 50);
	box-shadow: 0 1px 2px rgba(250, 250, 250, 50);
	padding: 5px 0 5px 0;
	z-index: 999;

	/* Make the masthead heading the same height as the navigation */
	h3 {
		color: #D92414;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0 15px;
		line-height: 40px;
	}
}

#spacer {
	width: 100%; 
	height: 50px;
	
}

.selector {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0 10px 0;
	z-index: 999; 
	background-color: #130000;
	
	.buttons {
		width: 780px;
 		margin-left: auto;
 		margin-right: auto;
	}

	button {
		// width: 120px;
		text-transform: uppercase;
		background-color: #130000;
		margin: 5px 0 5px 10px;
		padding: 5px;
		border-radius: 3px;
		font-size: 14px;
		font-weight: 600;
		color: #EEE;
		
		&:focus {
			outline: none;
		}
	}

	.selected {
		// background-color: #130000;
		color: #D92414;
	}
}

.fixed {
	position: fixed;
	top: 0; 
}

.embed {
	background: rgba(0, 0, 0, 0); 
}

.og-grid {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
	width: 100%;
	
	.og-expanded > a::after {
		top: auto;
		border: solid transparent;
		content: "";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-bottom-color: #eee;
		border-width: 15px;
		left: 50%;
		margin: -20px 0 0 -15px;  
	}
	
	>li {
		display: inline-block;
		margin: 0;
		vertical-align: top;
		height: auto;

		a {
 			outline: none;
 			display: block;
 			overflow: hidden;
 			position: relative;
 			height: auto;
 			-ms-word-wrap: break-word; 
 			word-wrap: break-word;
 			
 			.overlay {
 				cursor: pointer;
 				position: absolute;
 				top: 0;
 				left: -100%;
 				background: #333;
 				background: rgba(48, 48, 48, 0.7);
 				width: 100%;
 				height: 100%;
 				-webkit-transition: all 0.3s ease;
 				-moz-transition: all 0.3s ease-in-out;
 				-o-transition: all 0.3s ease-in-out;
 				-ms-transition: all 0.3s ease-in-out;
 				transition: all 0.3s ease-in-out;
 				
 				.container {
 					// position: relative;
 					// display: block;
 					width: 20vw;
 					padding: 10px 20px 10px 0;
 					margin: 40px 20px 20px 20px;
 					text-transform: uppercase;
 					font-weight: normal;
 					color: rgba(255,255,255,0.9);
 					text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
					
					.info {
						-ms-word-wrap: break-word; 
						word-wrap: break-word;
					    
					    .book {
					    	padding: 5px 15px; 
					    	-webkit-border-radius: 3px; 
					    	border-radius: 3px; 
					        font-size: 1.5em;
					        color: #eee;
					    }

					    button {
					    	background-color: #bbb;
					    }

					    .glyphicon {
					    	margin-bottom: 10px; 
					        font-size: 3em;
					    }
					}
 				}

 				&:hover {
 					left: 0;
 				}
 			}
		}

		.image-container, img {
		    width: 20vw;
		    height: 30vw; 
		    margin: 0;
		    padding: 0;
		}
	}
}

.og-expander {
	position: absolute;
	background: #eee;
	top: auto;
	left: 0;
	width: 100%;
	// margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden; 
}


.og-expander-inner {
	padding: 20px;
	height: 100%;
	position: relative;
	color: #13000;
	
	.title {
		text-transform: uppercase;
	}

	.glyphicon {
		margin-top: 2px;
	    font-size: 2em;
		color: #bbb;
	}
	
	button {
		padding-left: 0;
		color: #130000;
		background-color: #eee;
	}


	
	.og-close {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 30px;
		right: -10px;
		cursor: pointer;
		
		&:before, &:after {
			content: '';
			position: absolute;
			width: 100%;
			top: 50%;
			height: 1px;
			background: #13000;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		&:after {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		&:hover::before, &:hover::after {
			background: #333;
		}
	}
}

.timeslot {
	margin-left: 10px;
	
	>li {
		display: block;
		margin-bottom: 5px; 
		
		.time {
			font-weight: 300;
			display: inline-block;
			margin-right: 10px; 
			cursor: pointer;
		}

		.selected-time {
			color: #D92414;  
		}
	}
}

.holder{    
	opacity: 0.95;
    filter: alpha(opacity=40);
}

.booking {
	margin-top: 10px; 
}

#seatplan {
	margin-top: 17px; 
	opacity: 0.95;
    filter: alpha(opacity=40);
	
	#place {
		position: relative;
		// margin: 7px;
		
		>li {
			list-style: none;
			position: absolute;
			
			&:hover {
				background: red;
			} 
		}

		button {
			position: absolute;
		}

		.seat {
			border-radius: 50%;
			width: 30px;
			height: 30px; 
			background: #FFF;
			display:inline-block;
		}
		
		.selectedSeat { 
			border-radius: 50%;
			width: 30px;
			height: 30px; 
			background: #8C081F;    
		}
		
		.selectingSeat { 
			border-radius: 50%;
			width: 30px;
			height: 30px; 
			background: #D92414;         
		}
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1050px) {
	.container {
		max-width: 730px;
	}

	img {
	    width: 25vw;
	    height: 37vw; 
	    margin: 0;
	    padding: 0;
	}
}

@media screen and (max-width: 900px) {
	.container {
		max-width: 730px;
	}

	img {
	    width: 33.3vw;
	    height: 51vw; 
	    margin: 0;
	    padding: 0;
	}
}
