<ul id="og-grid" class="og-grid effect-moveup">
	<li class="mix" ng-repeat="movie in movies" ng-show="show(movie)">
		<a class="image-container" ng-click="togglePreview($event, $index, movie); $event.stopPropagation();">
			<img ng-src={{movie.imageLink}} alt="{{movie.movieName}}">
			<div class="overlay">
				<div class="container" ng-click="$event.stopPropagation();">
					<span>{{movie.movieName}}</span>
					<br>
					<span>{{movie.runningTime}}</span>
					<br>
					<span>{{movie.language}}</span>
					<br>
					<button class="video-link" data-video-id="y-{{movie.trailerLink}}">Trailer</button>
				</div>
			</div>
		</a>
	</li>
</ul>