<div class="og-expander-inner container">
    <span class="og-close"></span>
    <!-- <div class="og-fullimg">
        <img src="../rec/{{imgName}}">
    </div> -->
    <div class="row">
    	<div class="col-md-5">
    	    <h3>{{movie.movieName}}</h3>
    	    <!-- Large modal -->
    	    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

    	    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    	      <div class="modal-dialog modal-lg">
    	        <div class="modal-content">
    	          ...
    	        </div>
    	      </div>
    	    </div>
    	    <a href="{{movie.trailerLink}}">Trailer</a>
    	    <p>
    	    	<span>Cast: {{movie.cast}}</span><br>
    	    	<span>Director: {{movie.director}}</span><br>
    	    	<span>Genre: {{movie.genre}}</span><br>
    	    	<span>Release: {{movie.release}}</span><br>
    	    	<span>language: {{movie.language}}</span>
    	    </p>
    	    <p>{{movie.synopsis}}</p>
    	</div>
    		
		<div class="col-md-4 col-md-offset-1">
			<img src="{{movie.imageLink}}" alt="">
		</div>
    </div>

</div>