<div class="og-expander-inner container">
    <!-- <span class="og-close" ng-click="close()"></span> -->

    <div class="row">
    	<div class="col-md-5">
    	    <h3>{{movie.movieName}}</h3>
    	    <button><span class="video-link">Trailer</span></button>
			<h5>About</h5>
    	    <p>
    	    	<span>Cast: {{movie.cast}}</span><br>
    	    	<span>Director: {{movie.director}}</span><br>
    	    	<span>Genre: {{movie.genre}}</span><br>
    	    	<span>Release: {{movie.release}}</span><br>
    	    	<span>language: {{movie.language}}</span>
    	    </p>
    	    <h5>Synopsis</h5>
    	    <p>{{movie.synopsis}}</p>
    	</div>
    		
		<div class="booking  col-md-6 col-md-offset-1">
			<div class="selector embed" >
				<button ng-repeat="theater in embedtheaters" ng-class="{selected: theater === embedSelectedTheater}" ng-click='embedSelectTheater(theater)'>{{theater}}</button>
			</div>

			<div class="row">
				<div class="timeslot col-md-5">
					<li class="day" ng-repeat="day in weekdays">
						<label>{{day}}</label><br>
						<div class="time" ng-repeat="(time, seatplan) in days[day]" ng-click="showSeatplan(seatplan)">{{time}}</div>
					</li>
				</div>
				
				<div id="seatplan" class="holder col-md-6" ng-show="showBooking">
					<ul id="place"></ul>
				</div>
			</div>
		</div>
    </div>

</div>